.form-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}
.form-group {
    margin-top: 10px;
}
.form-group input:not([type=checkbox]) {
    width: 100%;
    margin-top: 5px;
}
.submit-btn {
    background-color: darksalmon;
    font-size: 17px;
    transition: 0.3s;
}
.submit-btn:hover {
    background-color: rgb(226, 111, 73);
}

@media only screen and (max-width: 576px) {
    .form-container {
        width: 100%;
    }
}